

.login {
	padding: 20px;

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;

	}

	.content_wrapper {
		margin-top: 80px;
		width: 100%;
		box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
		border-radius: 20px;

		.header {
			width: 200px;
			padding: 20px 0 0;
			margin: 0 auto;		
			display: grid;
			place-items: center;
			grid-gap: 10px;

			svg {
				width: 100px;
				height: 100px;
			}
		}

		form {
			width: 100%;
			padding: 20px;

			input, button {
				width: 100%;
		    outline: 0;
		    margin-bottom: 15px;
		    font-size: 14px;
		    font-weight: 300;
		    line-height: 20px;
		    padding: 14px;
		    border: 2px solid #f3f4f5;
		    border-radius: 12px;

			}

			button {
				color: white;
				background: #310F74;
				margin-bottom: 0;
				transition: all .3s ease;
				box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
				cursor: pointer;

				i {
					margin-left: 2px;
				}

				&:hover {
					background: #5E17EB;
				}
			}
		}
	}
}