

.login {
	padding: 20px;

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;

	}

	.content_wrapper {
		margin-top: 80px;
		width: 100%;
		box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
		border-radius: 20px;

		.header {
			width: 200px;
			padding: 20px 0 0;
			margin: 0 auto;		
			display: grid;
			place-items: center;
			grid-gap: 10px;

			svg {
				width: 100px;
				height: 100px;
			}
		}

		form {
			width: 100%;
			padding: 20px;

			input, button {
				width: 100%;
		    outline: 0;
		    margin-bottom: 15px;
		    font-size: 14px;
		    font-weight: 300;
		    line-height: 20px;
		    padding: 14px;
		    border: 2px solid #f3f4f5;
		    border-radius: 12px;

			}

			button {
				color: white;
				background: #310F74;
				margin-bottom: 0;
				transition: all .3s ease;
				box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-center: center;
				border-sizing: border-box;

				i {
					margin-top: 5px;
				}

				&:hover {
					background: #5E17EB;
				}

				p {
					margin: 0 5px 0 0;
				}

				.loader,
				.loader:after {
				  border-radius: 50%;
				  width: 22px;
				  height: 22px;
				  display: none;
				}
				.loader {
				  font-size: 10px;
				  position: relative;
				  border-top: 3px solid rgba(255, 255, 255, 0.2);
				  border-right: 3px solid rgba(255, 255, 255, 0.2);
				  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
				  border-left: 3px solid #ffffff;
				  -webkit-transform: translateZ(0);
				  -ms-transform: translateZ(0);
				  transform: translateZ(0);
				  -webkit-animation: load8 1.1s infinite linear;
				  animation: load8 1.1s infinite linear;
				}
				@-webkit-keyframes load8 {
				  0% {
				    -webkit-transform: rotate(0deg);
				    transform: rotate(0deg);
				  }
				  100% {
				    -webkit-transform: rotate(360deg);
				    transform: rotate(360deg);
				  }
				}
				@keyframes load8 {
				  0% {
				    -webkit-transform: rotate(0deg);
				    transform: rotate(0deg);
				  }
				  100% {
				    -webkit-transform: rotate(360deg);
				    transform: rotate(360deg);
				  }
				}

				.loginTxtnIco {
					display: block;
				}

				.hideLoginTxtnIco {
					display: none;
				}

				.showLoginLoader {
					display: block;
				}
			}
		}
	}
}

@media only screen and (min-width: 452px) {

	.login {

		.content_wrapper {
			width: 400px;
			margin: 80px auto 0;
		}
	}
}